header {
    position: fixed;
    z-index: 5;
    width: 90%;
    padding: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    &.scrolled {
        background-color: var(--bg);

        .inner {
            border-bottom: .1rem solid var(--underline);
        }
    }

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: border 0.3s ease;
        border-bottom: .1rem solid transparent;

        h4 {
            font-size: clamp(1.8rem, 2.2vw, 2.4rem);
        }

        .right-wrap {
            display: flex;
            align-items: center;
            gap: 3rem;

            nav ul {
                display: flex;
                gap: 2rem;
                font-size: 1.5rem;
                align-items: center;
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 20px;
                background-color: var(--primary);
                color: var(--bg);
                border-radius: 5px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}